@import ~sass/variables
@import ~sass/mixins

h1
  margin: 49px 0 127px
  +mqmax($tablet)
    margin-bottom: 100px
  +mqmax($tablet-portrait)
    margin-bottom: 160px
  +mqmax($mobile)
    margin-bottom: 100px
  img
    width: 401px
    height: 368px
    display: inline-block
    +mqmax($mobile)
      width: 186px
      height: 170px

.grid-wrapper li
  padding-bottom: 32px
  // height: 476px
  width: calc(25% - 16.6667px)
  margin: 0 22px 22px 0
  &:nth-child(4n + 0)
    margin-right: 0

  +mqmax($web-container - 1)
    // height: 44.1%
    // height: 44.1vw
    width: calc(33.3333% - 13.3333px)
    margin: 0 20px 20px 0
    &:nth-child(4n + 0)
      margin-right: 20px
    &:nth-child(3n + 0)
      margin-right: 0

  +mqmax($tablet-portrait)
    padding-block: 75px
    width: calc(50% - 10px)
    // height: 65.5%
    // height: 65.5vw
    &:nth-child(3n + 0)
      margin-right: 20px
    &:nth-child(2n + 0)
      margin-right: 0

  +mqmax($mobile)
    width: 100%
    // height: 578px
    margin-right: 0
    padding-bottom: 65px
    &:nth-child(3n + 0),
    &:nth-child(2n + 0)
      margin-right: 0


.meta-model
  +flex(space-between, center)

.send-selection
  margin: 100px 0 171px
  h3
    +druk-super(45px)
    text-align: center
    margin-bottom: 40px
  form
    +flex(center, flex-end)
    +druk(18px)
  input
    flex: 0 0 300px
    border: 0
    border-bottom: 3px solid $black
    background: transparent
    line-height: 2.2em
    margin: 0 16px
    &::placeholder
      color: $black
      opacity: 1
  input[type=submit]
    border: 3px solid $black
    +druk-italic(18px)
    &:hover
      background: $black
      color: $bg

+mqmax($tablet)
  .send-selection
    margin: 140px 0 90px
    h3
      font-size: 30px
      margin-bottom: 25px
    form
      flex-wrap: wrap
      max-width: 810px
      margin: 0 auto
    input
      font-size: 18px
      width: 252px
      flex: 0 1 auto
    input[type=submit]
      +druk(18px)
      margin-top: 36px

+mqmax($tablet-portrait)
  .send-selection
    margin: 50px 0 171px
    h3
      font-size: 24px
      margin-bottom: 25px
    form
      flex-wrap: wrap
      max-width: 600px
      margin: 0 auto
    input
      width: 252px
      flex: 0 1 auto
    input[type=submit]
      +druk(18px)
      margin-top: 36px
