<div class="content-wrapper">
  <h1>
    <img src="/assets/img/heart.svg" alt="My Selection" title="My Selection"/>
  </h1>

  <div class="grid-wrapper">
    <ul>
      <li *ngFor="let model of selectedModels">
        <model-box [model]="model" class="selected-models"></model-box>
      </li>
    </ul>
  </div>
</div>
<div class="send-selection">
  <h3>Send your Selection</h3>
  <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row w-100">
      <div class="col-lg-8">
        <formly-form [form]="form" [fields]="formFields" [model]="data">
        </formly-form>
      </div>
      <div class="col-lg-4 text-center">
        <button id="sendSelectionBtn" type="submit" class="btn btn-primary w-100 mt-4">
          Send
        </button>
      </div>
    </div>
  </form>
  <h3 *ngIf="submitted">Thanks!</h3>
</div>
<app-footer [noStickyFooter]="true"></app-footer>
