@import ~sass/variables
@import ~sass/mixins

ul
  list-style: none
  padding: 0
  display: flex

li
  display: inline-block
  cursor: pointer
  &:not(:first-child)
    padding-left: 70px

+mqmax($tablet)
  li
    &:not(:first-child)
      padding-left: 50px  


// Desktop Navbar
.navbar-desktop,
.navbar-mobile
  +flex(space-between, center)
  max-width: 1261px
  margin: 0 auto
  height: 148px
  +mqmax($tablet)
    height: 156px
    margin-bottom: 8px

.navbar-mobile
  height: 85px
  margin-bottom: 46px

  .nav // ul
    flex-direction: column
    align-items: center
    margin-top: 53px
  li
    width: 100%
    text-align: center
    padding: 0 0 65px
    font-size: 14px

+mqmax($mobile)
  height: 55px
  margin-bottom: 0