<footer id="berta-footer" class="collapsed" [ngClass]="{'collapsed': collapsed, 'fixed-bottom': sticky}">
  <div class="wrapper">
    <div id="stickyFooter" class="top">
      <a class="links" target="_blank" [href]="settings?.instagram">Instagram</a>
      <a class="links" target="_blank" [href]="settings?.facebook">Facebook</a>
      <a class="links" routerLink="/be-a-model">Be a model</a>
    </div>
    <div class="bottom">
      <div class="contact">
        <p>
          <a [href]="'mailto:' + settings?.contactEmail">{{ settings?.contactEmail }}</a><br />
          {{ settings?.address }}<br />
          {{ settings?.phone }}
        </p>
      </div>
      <div class="about-us">
        <p>
          {{ settings?.about }}
        </p>
      </div>
    </div>
  </div>
  <div class="legal-menu">
    <ul>
      <li (click)="toggleLegalModal('legal')">Legal Warning</li>
      <li (click)="toggleLegalModal('cookies')">Cookies Policy</li>
      <li (click)="toggleLegalModal('privacy')">Privacy Policy</li>
    </ul>
  </div>
</footer>
<div *ngIf="sticky" [ngClass]="{'expanded': !collapsed}" id="spaceHolder"></div>
<legal-modal *ngIf="legalModal" [legalText]="legalText" @fade>
  <div class="close-modal" (click)="toggleLegalModal()">x</div>
</legal-modal>