@import ~sass/variables
@import ~sass/mixins

.content-wrapper
  padding-left: 83px
  padding-right: 83px
  +mqmax($tablet)
    padding-left: 20px
    padding-right: 0
  +mqmax($tablet-portrait)
    padding-left: 0
  +mqmax($mobile)
    padding-left: 24px !important
    padding-right: 24px !important

h1
  font-size: 100px
  min-height: 147px
  margin-bottom: 0
  +mqmax($tablet)
    font-size: 85px
    min-height: 108px
  +mqmax($tablet-portrait)
    line-height: 80px
    margin-bottom: 40px
  +mqmax($mobile)
    font-size: 55px
    line-height: 50px

h4
  +druk(28px)
  text-align: center
  font-weight: 500
  margin-bottom: 90px
  +mqmax($tablet)
    font-size: 24px
  +mqmax($tablet-portrait)
    margin-bottom: 97px
  +mqmax($mobile)
    font-size: 16px
    margin-bottom: 80px

.content-wrapper
  padding-top: 70px
  padding-bottom: 112px
  +mqmax($tablet-portrait)
    padding-top: 51px
  +mqmax($mobile)
    padding: 0 34px 100px

.form-submitted
  font-family: $druk-super
