<div class="content-wrapper">
  <h1>{{ formContent.title }}</h1>

<div *ngIf="!submitted; else submittedMessage">

  <h4>{{ formContent.subtitle }}</h4>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <formly-form [form]="form" [fields]="formFields" [model]="data">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary w-100 mt-4">
          {{ formContent.buttonText }}
        </button>
      </div>
    </formly-form>

  </form>
</div>

<ng-template #submittedMessage>
  <h4 class="form-submitted">{{ formContent.submitted }}</h4>
</ng-template>

</div>
<app-footer [noStickyFooter]="true"></app-footer>
