@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html {

  body {
    font-family: $body-font-family;
    font-size: 100%;
    color: $body-font-color;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  h1, h2, h3, h4, h5, h5 {
    font-family: $heading-font-family;
    font-weight: bold;
    font-style: normal;
    text-transform: capitalize;
    color: $heading-font-color;
    line-height: 1.39;
  }

}
